# Puerto para el servidor backend
PORT=5000

# URL de conexión de MongoDB Atlas
# Reemplaza <tu_usuario>, <tu_password> y <tu_cluster_url>
# También, pon un nombre para tu DB (ej. MovieReviews) antes del '?'
MONGO_URI="mongodb+srv://<tu_usuario>:<tu_password>@<tu_cluster_url>/<tu_db_nombre>?retryWrites=true&w=majority&appName=Cluster0"