# Puerto para el servidor backend
PORT=5000

# URL de conexión de MongoDB Atlas
# Reemplaza <tu_usuario>, <tu_password> y <tu_cluster_url>
MONGO_URI="mongodb+srv://<tu_usuario>:<tu_password>@<tu_cluster_url>/ReelScoreDB?retryWrites=true&w=majority&appName=Cluster0"

# Clave secreta para firmar los JSON Web Tokens (JWT)
# Puede ser cualquier frase larga y aleatoria
JWT_SECRET="tu_frase_secreta_muy_larga_para_firmar_tokens"

# API Key obtenida desde TMDB (The Movie Database)
TMDB_API_KEY="tu_api_key_de_tmdb"