<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}FilmLog{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <header>
        <div style="display:flex; align-items:center; gap: 30px;">
            <a href="{{ url_for('index') }}" class="logo">FilmLog</a>

            <nav>
                <a href="{{ url_for('index') }}" class="nav-link" style="color:white;">Inicio</a>
                <a href="{{ url_for('view_all', category='movies') }}" class="nav-link">Películas</a>
                <a href="{{ url_for('view_all', category='tvshows') }}" class="nav-link">Series</a>
            </nav>
        </div>

        <form action="{{ url_for('index') }}" method="GET" class="search-bar">
            <button type="submit">🔍</button>
            <input type="text" name="q" placeholder="Buscar...">
        </form>

        <div>
            {% if session.get('username') %}
                <a href="{{ url_for('profile') }}" class="btn btn-outline">
                    👤 {{ session['username'] }}
                </a>
                <a href="{{ url_for('logout') }}" class="nav-link" style="font-size:0.8rem; margin-left:10px;">Salir</a>
            {% else %}
                <a href="{{ url_for('login') }}" class="btn btn-primary">Login</a>
            {% endif %}
        </div>
    </header>

    <div class="content-area">
        {% block content %}{% endblock %}
    </div>
</body>
</html>